@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-emerald: #104733;
  --color-green: #4caa89;
  --background: var(--color-green);
  --foreground: var(--color-emerald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-emerald);
    --foreground: var(--color-green);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
